<%- include('src/head'); -%>
<link rel="stylesheet" href="/style/st4.css" />
    <div class="main">
        <div class="main__content">
            <div class="content__title">
                <%- post[0].chapter -%>.<%= post[0].order -%> - <%- post[0].title -%>
            </div>
            <div class="content__text">
                <!-- <%= post[0].content %> -->
                <div class="quote">
                    <p>
                    đây là ghi chú đây là ghi chú đây là ghi chú đây là ghi chú đây là ghi chúđây là ghi chú đây là ghi chú đây là ghi chú đây là ghi chú đây là ghi chú 
                    đây là ghi chú đây là ghi chú đây là ghi chú đây là ghi chú đây là ghi chú 
                    đây là ghi chú đây là ghi chú đây là ghi chú đây là ghi chú đây là ghi chú 
                    </p>
                </div>
                a
                <div class="line"></div>
                b
                <div class="advice">
                    Đây là lời khuyên Đây là lời khuyên Đây là lời khuyên Đây là lời khuyên Đây là lời khuyên Đây là lời khuyên Đây là lời khuyên Đây là lời khuyên Đây là lời khuyên Đây là lời khuyên Đây là lời khuyên Đây là lời khuyên Đây là lời khuyên Đây là lời khuyên Đây là lời khuyên Đây là lời khuyên Đây là lời khuyên Đây là lời khuyên Đây là lời khuyên Đây là lời khuyên Đây là lời khuyên Đây là lời khuyên Đây là lời khuyên Đây là lời khuyên Đây là lời khuyên Đây là lời khuyên Đây là lời khuyên Đây là lời khuyên Đây là lời khuyên Đây là lời khuyên Đây là lời khuyên Đây là lời khuyên Đây là lời khuyên Đây là lời khuyên Đây là lời khuyên 
                </div>
                <div class="warning">
                    đây là cảnh báo đây là cảnh báo đây là cảnh báo đây là cảnh báo đây là cảnh báo đây là cảnh báo đây là cảnh báo đây là cảnh báo đây là cảnh báo đây là cảnh báo 
                </div>

                <span class="bold-bbcode">
                    Đây là in đậm
                </span>
                <span class="underline-bbcode">
                    Đây là gạch chân từ
                </span>
                ahihi
                <span class="url-bbcode">
                    <a href="/link">
                     Đây là liên kết
                    </a>
                </span>
                <div class="img-bbcode">
                    <img src="/img/logo.png" width="100px">
                </div>
                <span class="inline-code">
                    int a=6;
                </span>
                <div class="block-code">
                <code>
                    <!-- 22 -->
                    
                    <div class="code">                    
                       <span> #include <iostream> </span><br/><br/>

                            <span><span class="keyword">int</span> main()</span><br/>
                            <span>{</span><br/>
                              <span>  std::cout << <span class="string">"Would you like a burrito? (y/n)"</span> ;</span><br/>
                              <br/>
                                <span class="comment">// We want the user to enter a 'y' or 'n' character</span><br/>
                                <span class="comment">// How do we do this?</span><br/>
                                <br/>
                               <span class="keyword"> return 0;</span><br/>
                           <span> }</span><br/>
                    </div>
                </code>
            </div>
            <div class="block-code">
                <code>
                    <div class="code">
                        output<br/>7
                    </div>
                </code>
            </div>
                
            </div> 
        </div>
    </div> 
<%- include('src/foot'); -%> 